# .env
#
# ============
# INSTRUCTIONS
# ============
#
# Copy/paste this file and name it ".env" in case
# you want to set environment variables in this .env file.
#
# More information:
# https://docs.dagster.io/guides/operate/configuration/using-environment-variables-and-secrets

# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT
# =========================================
#
# Ideally, the OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT exists in a location
# that is absolute and does not include path elements that
# refer to user specific locations, such as $USER, $HOME etc.
# For example: /opt/openstudiolandscapes
# The default location (of not defined here, or with an empty value) would be the
# OpenStudioLandscapes Git root, resulting in this .landscapes directory:
# OpenStudioLandscapes/.landscapes
#
# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT=

# Basics

## Defaults
#OPENSTUDIOLANDSCAPES__REPOSITORY_ROOT="~/git/repos/OpenStudioLandscapes"
#OPENSTUDIOLANDSCAPES__DOMAIN_LAN="openstudiolandscapes.lan"
#OPENSTUDIOLANDSCAPES__CONFIGSTORE_ROOT="~/.config/OpenStudioLandscapes/config-store"


# WAN
#OPENSTUDIOLANDSCAPES__DOMAIN_WAN=
#OPENSTUDIOLANDSCAPES__DOMAIN_EMAIL=

# Pangolin
#OPENSTUDIOLANDSCAPES__ATTACH_PANGOLIN_SITE_TO_COMPOSE_SCOPE=1


# Todo
# - [ ] env is a mess! Cleanup!
# - [ ] OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT (used in env/assets)
# - [ ] OPENSTUDIOLANDSCAPES__DOT_FEATURES
# - [ ] Move as much of env to ConfigEngine as possible:
#       Current env:
#       {
#         "AUTHOR": "michimussato@gmail.com",
#         "CREATED_AT": "2025-12-26_13-50-15",
#         "CREATED_BY": "michael",
#         "CREATED_ON": "lenovo",
#         "DEFAULT_CONFIG_DBPATH": "/data/configdb",
#         "DOT_FEATURES": "/home/michael/git/repos/OpenStudioLandscapes/.features",
#         "DOT_LANDSCAPES": "/home/michael/git/repos/OpenStudioLandscapes/.landscapes",
#         "DOT_OVERRIDES": "/home/michael/git/repos/OpenStudioLandscapes/.landscapes/2025-12-26-13-49-55-56ff6ad165bd4c90b88867dbea2ad79c/.overrides",
#         "DOT_SHARED_VOLUMES": ".shared_volumes",
#         "GIT_ROOT": "/home/michael/git/repos/OpenStudioLandscapes",
#         "LANDSCAPE": "2025-12-26-13-49-55-56ff6ad165bd4c90b88867dbea2ad79c",
#         "PYTHON_MAJ": "3",
#         "PYTHON_MIN": "11",
#         "PYTHON_PAT": "11",
#         "TIMEZONE": "Europe/Zurich"
#       }