# .env
#
# ============
# INSTRUCTIONS
# ============
#
# Copy/paste this file and name it ".env" in case
# you want to set environment variables in this .env file.
#
# More information:
# https://docs.dagster.io/guides/operate/configuration/using-environment-variables-and-secrets

# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT
# =========================================
#
# Ideally, the OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT exists in a location
# that is absolute and does not include path elements that
# refer to user specific locations, such as $USER, $HOME etc.
# For example: /opt/openstudiolandscapes
# The default location (of not defined here, or with an empty value) would be the
# OpenStudioLandscapes Git root, resulting in this .landscapes directory:
# OpenStudioLandscapes/.landscapes
#
# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT=

# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_*
# ======================================
#
# The status of a Feature can be enabled/disabled in either
# `OpenStudioLandscapes.engine.features` or via
# environment variable.
# `Released` ones are enabled by default whereas `Not released`
# ones are disabled by default. That is because the Git
# repositories of the `Not released` Features are not public and
# can't be cloned (yet).

# Basics

OPENSTUDIOLANDSCAPES__REPOSITORY_ROOT=

# Defaults

OPENSTUDIOLANDSCAPES__DOMAIN_LAN=your-domain.lan
## Choices:
## - `su`
## - `sudo`
## - `pkexec`
SU_METHOD=


# Make
PYTHON_MAJ=3
PYTHON_MIN=11
PYTHON_PAT=11

# OVERRIDES (not documented)

# Released
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_AYON=True
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_DAGSTER=True
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_FLAMENCO=False
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_FLAMENCO_WORKER=False
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_KITSU=True
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_RUSTDESKSERVER=False
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_TWINGATE=False
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_VERT=False

# Not released
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_DEADLINE_10_2=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_DEADLINE_10_2_WORKER=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_FILEBROWSER=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_GRAFANA=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_LIKEC4=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_NUKERLM_8=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_OPENCUE=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_SESI_GCC_9_3_HOUDINI_20=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_SYNCTHING=True
# OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_WATCHTOWER=True

# Template
OPENSTUDIOLANDSCAPES__ENABLE_FEATURE_OPENSTUDIOLANDSCAPES_TEMPLATE=False

# Passwords
SUDO_PASS=

# Secrets
# Todo
#  - [ ] Maybe move this to OpenStudioLandscape-Twingate?
OPENSTUDIOLANDSCAPES_TWINGATE__TWINGATE_NETWORK=
OPENSTUDIOLANDSCAPES_TWINGATE__TWINGATE_ACCESS_TOKEN=
OPENSTUDIOLANDSCAPES_TWINGATE__TWINGATE_REFRESH_TOKEN=

# WAN
# ACME.SH
# Domains
# Todo:
#  - [ ] How can we generically define multiple WAN domains?
#        Could try comma separated sequence?
# - https://www.cloudns.net/main/
OPENSTUDIOLANDSCAPES__DOMAIN_WAN=
OPENSTUDIOLANDSCAPES__DOMAIN_EMAIL=
