# .env
# https://docs.dagster.io/guides/operate/configuration/using-environment-variables-and-secrets

# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT
# =========================================
#
# Ideally, the OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT exists in a location
# that is absolute and does not include path elements that
# refer to user specific locations, such as $USER, $HOME etc.
# For example: /opt/openstudiolandscapes
# The default location (of not defined here, or with an empty value) would be the
# OpenStudioLandscapes Git root, resulting in this .landscapes directory:
# OpenStudioLandscapes/.landscapes
#
# OPENSTUDIOLANDSCAPES__DOT_LANDSCAPES_ROOT=
