DEADLINE_VERSION=10.2.1.1
RCS_HTTP_PORT=8888
SECRETS_USERNAME=
SECRETS_PASSWORD=
ROOT_DOMAIN=farm.evil
DB_HOST=mongodb-10-2
USE_WEBSERVICE=FALSE
USE_LICENSE_FORWARDER=FALSE
GOOGLE_API_KEY=
GOOGLE_ID=
