# # INSTRUCTIONS
# # - duplicate this file and rename the duplicate to
# #   custom_services.py
# # - add your LAN services here as follows:
#
# from dagster import EnvVar
#
#
# custom_services = [
#     {
#         "service": "jellyfin",
#         "app_name": "%s",
#         "uri": "http://jellyfin.farm.evil:8096/",
#         "public_address": f"%s.teleport.{EnvVar('OPENSTUDIOLANDSCAPES__DOMAIN_WAN').get_value()}",
#         "rewrite_redirect": [
#             f"%s.{EnvVar('OPENSTUDIOLANDSCAPES__DOMAIN_LAN').get_value()}",
#         ],
#     },
# ]
