##########################################################
# This is read by root to run Deadline Launcher
# [deadline.config] file is sourced to set the
# root environment to find Deadline central install
##########################################################

# bash as login shell will load /etc/profile, ~/.bash_profile, ~/.bash_login, ~/.profile in that order
# bash as non-login interactive shell will load ~/.bashrc
# bash as non-login non-interactive shell will load the configuration specified in environment variable $BASH_ENV

DEADLINE_VERSION="10.2.1.1"
DEADLINE_MAJOR_VERSION="10"
DEADLINE_INSTALL_PATH="/nfs/sw/thinkbox/deadline/linux"

# [NFS] /nfs/sw/ - static mount, software repository, read-only
export DEADLINE_PATH="${DEADLINE_INSTALL_PATH}/${DEADLINE_VERSION}/bin"
export DEADLINE_CONFIG_FILE="${DEADLINE_INSTALL_PATH}/${DEADLINE_MAJOR_VERSION}/deadline.ini"

# [NFS] /nfs - auto-mount, user directory, read-write access
export DEADLINE_ROAMING_USER_PATH="/usr/people/${USER}/.config/thinkbox/deadline/${DEADLINE_MAJOR_VERSION}"

# [LOCAL] /mnt/local/disk - local caching disk (could be network located), read-write access
export DEADLINE_SYSTEM_PATH="/mnt/local/disk/sw/thinkbox/deadline/${DEADLINE_MAJOR_VERSION}/var/lib"
export DEADLINE_LOCAL_USER_PATH="/mnt/local/disk/sw/thinkbox/deadline/${DEADLINE_MAJOR_VERSION}/${USER}"
export DEADLINE_LOG_PATH="/mnt/local/disk/sw/thinkbox/deadline/${DEADLINE_MAJOR_VERSION}/var/log"